# Python para Ciência de Dados


## Manipulação de Dados Tabulares com Pandas - Funções Básicas

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
cidades = pd.DataFrame(
    [
        ['Paraná', 'Londrina', 575377, 1356.00],
        ['São Paulo', 'São Carlos', 254484, 1508.00],
        ['Santa Catarina', 'Florianópolis', 508826, 1798.00],
        ['Paraná', 'Curitiba', 1963726, 2293.00],
        ['São Paulo', 'Campinas', 1223237, 1710.00]
    ], columns=['Estado', 'Cidade', 'Habitantes', 'Salário-Médio'])

cidades

In [ ]:
df = pd.read_csv('qualidade_vinho.csv', sep=',', header=0)
df.head(2)

In [ ]:
cidades.head(2) # Retorna um novo dataframe com as n primeiras amostras

In [ ]:
cidades.tail(2) # Retorna um novo dataframe com as n últimas amostras

In [ ]:
cidades.shape # Retorna uma tupla com o número de linhas e colunas

In [ ]:
cidades.info() # Retorna vazio e imprime na tela as informações gerais do dataframe

In [ ]:
cidades.columns # Retorna uma lista com o nome de todas as colunas

In [ ]:
cidades['Salário-Médio'].describe() # Retorna um objeto DataFrame com as medidas estatísticas para cada coluna

## Tipos de Dados com Pandas

In [ ]:
cidades.dtypes
cidades.info()

In [ ]:
cidades['Habitantes'] = cidades['Habitantes'].astype('float64')
cidades.dtypes

In [ ]:
cidades['Data'] = ['3-8-2021', '3-9-2021', '3-10-2021', '3-11-2021', '3-12-2021']

cidades['Data'] = pd.to_datetime(cidades['Data'], format='%d-%m-%Y') # Dia, Mês, Ano

cidades

In [ ]:
cidades['Data'] = cidades['Data'].dt.strftime('%d-%m-%Y') # Dia, Mês, Ano
cidades # Novo Formato

## Renomeando Colunas

In [ ]:
cidades.rename(columns={'Habitantes': 'N Habitantes', 'Data': 'Data - Censo'}, inplace=True)
cidades

## Selecionando Linhas e Colunas

In [ ]:
cidadesHab = cidades[['N Habitantes', 'Salário-Médio']] # Seleciona as duas colunas com os nomes especificados
cidadesHab

In [ ]:
cidades.loc[[1, 2]] # Seleciona as duas linhas com os nomes especificados (note que o "rótulo" de cada linha está presente na forma de números inteiros)

In [ ]:
cidades.iloc[1:3] # Seleciona as linhas do dataframe original, referentes ao índice determinado

In [ ]:
cidades.iloc[:, 0:2] # Seleciona todas as linhas e as duas primeiras colunas do dataframe original

In [ ]:
cidades.iloc[1:3, :3] # Seleciona as duas primeiras linhas e as três primeiras colunas

In [ ]:
cidades.iloc[:, [1, 3, 0, 2]] # Seleciona todas as linhas e as colunas determinadas

## Adicionando e Removendo Colunas

In [ ]:
cidades.insert(2, 'Sigla', ['PR', 'SP', 'SC', 'PR', 'SP']) # Adiciona novos dados no índice dois
cidades.insert(2, 'Sigla-Repetida', cidades['Sigla']) # Adiciona uma coluna repetida "Sigla"
cidades

In [ ]:
cidades.pop('Sigla-Repetida')

# ou

cidades = cidades.drop(['Sigla-Repetida'], axis=1)
cidades

## Operações Básicas - Consultas

In [ ]:
cidades.query('`Salário-Médio` > 1400.0')

In [ ]:
cidades.query('Estado == "São Paulo"')

In [ ]:
cidades.query('`N Habitantes` > 500000 and `N Habitantes` < 1300000')

## Operações Básicas - Ordenação

In [ ]:
cidades.sort_values(by='Cidade', inplace=True)
cidades

In [ ]:
cidades.sort_values(by='Salário-Médio', inplace=True)
cidades

## Operações Básicas - Combinando DataFrames

In [ ]:
cidades_salarios = pd.DataFrame(
    [
        ['Paraná', 'Londrina', 1356.00],
        ['São Paulo', 'São Carlos', 1508.00],
        ['Santa Catarina', 'Florianópolis', 1798.00],
        ['Paraná', 'Curitiba', 2293.00],
        ['São Paulo', 'Campinas', 1710.00]
    ], columns=['Estado', 'Cidade', 'Salário-Médio'])

cidades_salarios

In [ ]:
cidades_pop = pd.DataFrame(
    [
        ['Londrina', 575377],
        ['São Carlos', 254484],
        ['Florianópolis', 508826],
        ['Curitiba', 1963726],
        ['Campinas', 1223237]
    ], columns=['Cidade', 'Habitantes'])

cidades_pop

In [ ]:
pd.merge(left=cidades_salarios, right=cidades_pop, on="Cidade")

In [ ]:
pd.merge(left=cidades_salarios, right=cidades_pop, on="Cidade", how="outer")

In [ ]:
cidades_df1 = pd.DataFrame(
    [
        ['Londrina', 575377],
        ['São Carlos', 254484],
        ['Florianópolis', 508826],
    ], columns=['Cidade', 'Habitantes'])

cidades_df1

In [ ]:
cidades_df2 = pd.DataFrame(
    [
        ['Curitiba', 1963726],
        ['Campinas', 1223237]
    ], columns=['Cidade', 'Habitantes'])

cidades_df2

In [ ]:
pd.concat([cidades_df1, cidades_df2], ignore_index=True)

## Operações Básicas - Salvando DataFrames

In [ ]:
cidades.to_csv("my_df.csv")
cidades.to_html("my_df.html")
cidades.to_json("my_df.json")